.parent{display: grid;
justify-content: space-between;}
nav{display: grid;
justify-content: space-around; 
gap: 20px;
text-align: center;
align-items: center ;}
a{text-decoration: none;
color: white;}
img{
   
    align-items: center;
    align-content: center;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 15px;

}
img:hover{
    scale: 0.9;
}
li{list-style-type: none;
background-color: #6c757d;

}




@media (min-width:10px)(max-width:480px) {
    .mix {display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media(min-width:1024px) and (max-width:1440px) {
    .mix {display: grid;
    grid-template-columns: repeat(3,1fr);}
}